@use "sass:color";

$base: plum;
$lighter1:color.adjust($base, $lightness:10%);
$lighter2:color.adjust($base, $lightness:20%);
$darker1:color.adjust($base, $lightness:-10%);
$darker2:color.adjust($base, $lightness:-20%);

body{
    margin: 0;
}

div.columns{
    display: flex;
    height: 100vh;


    & > div[id]::before {
        content: attr(id);
        // content: "pink";
        
    }

    & > div {
        // content: attr(id);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


}

#base{
    background-color: $base;
}


#lighter1{
    background-color: $lighter1;
}

#lighter2{
    background-color: $lighter2;
}

#darker1{
    background-color: $darker1;
}

#darker2{
    background-color: $darker2;
}