%highlight{
    background-color: gold;
}


table.sudoku{
    border: medium solid black;
    border-collapse: collapse;

    td{
        border: thin solid rgb(146, 96, 96);    
        width: 2em;
        height: 2em;
        text-align: center;
        vertical-align: middle;
    }

    tr:nth-child(3n){
        border-bottom: medium solid black;
    }

    td:nth-child(3n){
        border-left: thick solid rgb(170, 0, 0);
    }

    @for $i from 1 through 9{
        @debug "i=#{$i}"
        tr;nth-child(#{$i}) > td:nth-child(#{$i}),
        tr:nth-child(#{$i}) > td:nth-child(#{10 - $i})
        {
            @extend
        }
    }
}