@import "sudoku.css";

%light {
    background-color: aquamarine;
}

%dark {
    background-color: rgb(66, 82, 76);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

table.sudoku {
    border-collapse: collapse;
    margin: auto;
    border: medium solid black;
    td {
        border: thin solid lightgray;
        width: 2em;
        height: 2em;
        text-align: center;
        vertical-align: middle;
    }
    td:nth-child(3n) {
        border-right: medium solid black;
    }
    tr:nth-child(3n) {
        border-bottom: medium solid black;
    }
}

table.sudoku{
    @for $i from 1 through 9{
        @for $j from 1 through 9{
        tr:nth-child(#{$i}) > td:nth-child(#{$j}){
            background-color: aqua;
        }
    }
    }
}